<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar [routerLink]="['']">Menu<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></mat-toolbar>
    <mat-nav-list>

      <button mat-button class="menu-button"   [routerLink]="['/createproducts']">
        <mat-icon
          class="example-icon favorite-icon"aria-label="Example icon-button with heart icon">format_list_numbered</mat-icon
        >
        <span>Criar Produto</span>
    </button>
    
    <button mat-button class="menu-button"   [routerLink]="['/targetMarket']">
      <mat-icon
        class="example-icon favorite-icon"aria-label="Example icon-button with heart icon">format_list_numbered</mat-icon
      >
      <span>Criar Mercado alvo</span>
  </button>

  <button mat-button class="menu-button"   [routerLink]="['/createstack']">
    <mat-icon
      class="example-icon favorite-icon"aria-label="Example icon-button with heart icon">format_list_numbered</mat-icon
    >
    <span>Criar Pilha</span>
</button>
<button mat-button class="menu-button"   [routerLink]="['/connectionbetweenproducts']">
  <mat-icon
    class="example-icon favorite-icon"aria-label="Example icon-button with heart icon">format_list_numbered</mat-icon
  >
  <span>Conexão entre produtos</span>
</button>

<button mat-button class="menu-button"   [routerLink]="['/sear']">
  <mat-icon
    class="example-icon favorite-icon"aria-label="Example icon-button with heart icon">format_list_numbered</mat-icon
  >
  <span>Buscador</span>
</button>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['']" >GubeeAngular</span>
    </mat-toolbar>
  












    <router-outlet></router-outlet>






   


    

  </mat-sidenav-content>
</mat-sidenav-container>
