<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Criar Produto</a>
      <a mat-list-item href="#">Criar Mercado alvo</a>
      <a mat-list-item href="#">Criar Pilha</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>GubeeAngular</span>
    </mat-toolbar>
  



















    <div class="main-content">
      <div class="container-fluid">
        <div class="header text-center">
          <!-- <p class="category">
            </p> -->
        </div>
        <div class="row">
          
    
          <div class="container-fluid" >
            <h1>Cupons restantes  </h1>
    
            <div *ngFor="let product of product" class="row mt-4">
              <div   class="col-lg-2 col-md-5 col-sm-6 col-xs-4" >
                <div class="card card-product"  >
                  <div class="card-body d-flex align-items-center justify-content-center">
                    <div>
                      <h4 class="card-title ">
                      </h4>
    
                      <div class="card-description text-black-50">
                        <h5>Nome do Produto:<br> {{product.productName}} </h5>
    
                        <h5>Discrição do Produto:<br> {{product.description}} </h5>
    
                        
                      </div>
     
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
        </div>
  
      </div>

    </div>


    

  </mat-sidenav-content>
</mat-sidenav-container>
